<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Koulen&display=swap" rel="stylesheet">
    <title>EcoEats</title>
</head>

<body>
    <header>
        <nav>
            <a href="#"><div class="nav-items">Home</div></a>
            <a href="#"><div class="nav-items">EcoEater</div></a>
            <a href="#"><div class="nav-items">EcoBuddy</div></a>
        </nav>
    </header>
    <div class="eco-header">
        <div class="title-area">
            <img class="logo" src="/static/image/logo.png" alt="EcoEats Logo">
        </div>
        <div class="dark-green"></div>
        <div class="darker-green"></div>
        <div class="hero-area">
            <div class="hero-text">
                <h1 id="hero-text-override">Mapping sustainable approaches to dining out.</h1>
            </div>
            <div class="hero-button">
                <a href="#"><div class="hero-button-text">Try Our Map</div></a>
            </div>
        </div>
    </div>

    <div class="stats">
        <div class="stats-header">
            <h1>EATING GREENER</h1>
        </div>
        <hr size="2" width="50%" color="green">
        <div class="main-text">
            <p>In the U.S. alone, over</p>
            <h2>40 million tons</h2>
            <p>of municipal plastic waste was generated in 2021.</p>
        </div>
    </div>

    <footer>
        <h3>Contact Us: email@domain.com</h3>
        <h4>Copyright 2024</h4>
    </footer>
</body>
</html>